{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Commit: {-{ site.github.build_revision }} -->
    <!--
Data:
{#{{ data }}#}

-->
    <title>{{ dish.name }}</title>
    <!-- Material design CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material design JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">
    <!-- Custom JS -->
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/js/main.js' %}">
</head>
<body>
<main id="content" class="main-content" role="main">


    <fieldset class="group">
        {% for dish_component in dish.dish_components.all %}


            <div class="section-header">
                <span class="section-header__title">{{ dish_component.get_name }}</span>
            </div>
            <legend></legend>
            <ul class="ingredients_list checkbox">
                {% for ingredient in dish_component.ingredients.all %}
                    <li>
                        <p>
                            <label>
                                <input type="checkbox"/>
                                <span class="ingredient">

              {% if ingredient.amount != 0.0 %}
                <span class="ingredient_quantity">
                    {{ ingredient.amount | floatformat }}{{ ingredient.base_ingredient.measure_unit }}
                </span>
                  {{ ingredient.base_ingredient.get_name }}
              {% else %}
                {{ ingredient.base_ingredient.get_name }}
                  <span class="ingredient_quantity">{{ " to taste" }}</span>
              {% endif %}
        </span>
                            </label>
                        </p>
                    </li>
                {% endfor %}
            </ul>

        {% endfor %}
    </fieldset>


</main>
</body>
</html>
