---
layout: default
---
<fieldset class="group">
   <div class="section-header">
	   <span class="section-header__title">{{ page.ingredients_first_name }}</span>
   </div>
<legend></legend> 
<ul class="ingredients_list_first checkbox"> 
  {% for ingredient in page.ingredients_list_first %}
  {% assign ingredient_data = ingredient | split: "@" %}
  {% assign ingredient_name = ingredient_data[0] %}
  {% assign ingredient_quantity = ingredient_data[1] %}
  <li>
    <p>
      <label>
        <input type="checkbox" />
        <span class="ingredient">
          <span class="ingredient_quantity">{{ ingredient_quantity }}</span>
          {{ ingredient_name }}
        </span>
      </label>
    </p>
  </li>
  {% endfor %}
</ul>
	
 <div class="section-header">
	   <span class="section-header__title">{{ page.ingredients_second_name }}</span>
   </div>

<ul class="ingredients_list_second checkbox"> 
  {% for ingredient in page.ingredients_list_second %}
  {% assign ingredient_data = ingredient | split: "@" %}
  {% assign ingredient_name = ingredient_data[0] %}
  {% assign ingredient_quantity = ingredient_data[1] %}
  <li>
    <p>
      <label>
        <input type="checkbox" />
        <span class="ingredient">
          <span class="ingredient_quantity">{{ ingredient_quantity }}</span>
          {{ ingredient_name }}
        </span>
      </label>
    </p>
  </li>
  {% endfor %}
</ul>

</fieldset> 
{{ content }}
